// FONTS
$base-font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size = 16px
$base-font-weight = 400
$small-font-size = $base-font-size * 0.875
$base-line-height = 1.5
$spacing-unit = 30px


// COLORS
Tigerlily = #E15D44
BlueTurquoise = #55B4B0
FuchsiaRose = #C3447A
LilacGrey = #9896A4
IkeaYellow = #FFCC00
IkeaBlue = #003399
OuterSpace = #2D383A
Coconut = #FEFEFE
DarkSebastian = #171717


rosa = #D68684
hellrosa = #F1B0B0
licht = #EBD0C4


MainColor = OuterSpace
sec  = Coconut
Text = DarkSebastian


// Resolution
cut = 37.5rem

// Width of the content area
$content-width = 800px
$on-palm = 600px
$on-laptop = 800x
